[Desktop Entry]
Version=1.0
Name=gtk-gnutella
Name[de]=gtk-gnutella
Name[fr]=gtk-gnutella
Name[hu]=gtk-gnutella
Name[ja]=gtk-gnutella
Name[nb]=gtk-gnutella
Name[nl]=gtk-gnutella
Name[nn]=gtk-gnutella
Name[tr]=gtk-gnutella
Comment=A GUI based Gnutella Servent
Comment[de]=Ein grafischer Gnutella-Servent
Comment[fr]=Un servent Gnutella graphique
Comment[hu]=Grafikus Gnutella-kiszolgáló
Comment[ja]=GUI ベースの Gnutella サーバントです
Comment[nb]=En grafisk Gnutella-tjenent
Comment[nl]=Een grafische Gnutella servent
Comment[nn]=Ein grafisk Gnutella-tenent
Comment[tr]=Grafik arayüzlü Gnutella istemcisi
GenericName=P2P Client
GenericName[de]=P2P-Client
GenericName[fr]=Client P2P
GenericName[hu]=P2P Kliens
GenericName[ja]=P2P クライアント
GenericName[nb]=Fildelingsprogram
GenericName[nl]=P2P programma
GenericName[nn]=Fildelingsprogram
GenericName[tr]=P2P dosya paylaşım programı
Keywords=file-sharing
TryExec=gtk-gnutella
Exec=gtk-gnutella
StartupNotify=false
Terminal=false
Type=Application
Categories=GTK;Network;FileTransfer;P2P;
Icon=gtk-gnutella
