# ignore objects and archives, anywhere in the tree.
*.[oa]
Makefile
Makefile.bak
MANIFEST.new

/config.h
/mkdep
/.package
/config.sh
/.config
/gtk-gnutella.spec
/config.sh.old
/install

# This file is used to hardwire the result of scripts/git-version.sh
/version

/src/gtk-gnutella
/src/gtk-gnutella.nm
/src/revision.h

/src/lib/bit_array.h
/src/lib/bit_field.h

# Ignore gtk1 and gtk2 generated callbacks
/src/ui/gtk/gtk?/callbacks.[ch]

# SDBM
/src/sdbm/dba
/src/sdbm/dbu

/po/*.gmo
/po/stamp-po
