sudo: false
language: c
os:
  - osx
  - linux

addons:
  apt:
    packages:
    - libgnutls-dev
    - libglib2.0-dev
    - libgtk2.0-dev

before_install:
  - ./scripts/travis.$TRAVIS_OS_NAME.sh before_install

install:
  - ./scripts/travis.$TRAVIS_OS_NAME.sh install

script:
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then export PATH=$PATH:~/.new_local/bin; JHB=gtk-gnutella ~/.new_local/bin/jhbuild run ./build.sh --target=osxbundle 2>&1 | tee build.log ;fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then curl -X PUT --user ${OBJECTSTORE_USER}:${OBJECTSTORE_SECRET} ${OBJECTSTORE_URL}build.log -T build.log ;fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then ./build.sh; fi
  - src/lib/random-test
  - src/lib/stack-test
  - src/lib/sort-test
  - src/lib/pattern-test
  - src/lib/filelock-test -ce foo
  - src/lib/filelock-test -cep foo
  - src/lib/launch-test
  - src/lib/spopen-test -p -r foo
  # Removing -F as the fork() call seems to disrupt the inter-thread signals,
  # messing-up with the file descriptor used to perform signalling?
  # Not critical since gtk-gnutella is not using thread_fork() currently.
  #		--RAM, 2015-02-22
  - src/lib/thread-test -ABCDEHIKMNOPQRSVWX -T1 -c2 -z player,test_signals

after_script:
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then for f in ~/Desktop/*dmg; do curl -X PUT --user ${OBJECTSTORE_USER}:${OBJECTSTORE_SECRET} ${OBJECTSTORE_URL} -T $f ;done ;fi

notifications:
  irc: "irc.freenode.net#gtk-gnutella"

