[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Gtk-Gnutella
Name[fr]=Gtk-Gnutella
Comment=A GUI based Gnutella Servent
Comment[fr]=Un servent Gnutella graphique
GenericName=P2P Client
GenericName[fr]=Client P2P
TryExec=gtk-gnutella
Exec=gtk-gnutella
StartupNotify=false
Terminal=false
Type=Application
Categories=GTK;Application;Network;FileTransfer;P2P;
Icon=gtk-gnutella.png
