Source: gtk-gnutella
Build-Depends: debmake, glade, tclsh, libglib1.2-dev (>= 1.2.0),
 libgtk1.2-dev (>= 1.2.10-4), xlibs-dev (>> 4.1.0)
Section: net
Priority: optional
Maintainer: Matthias Kabel <mkabel@debian.org>
Standards-Version: 3.1.1

Package: gtk-gnutella
Architecture: any
Depends: ${shlibs:Depends}
Description: shares files in a peer to peer network
 Gtk-Gnutella is a small, reliable and efficient Gnutella client.
 Gnutella is a peer-based file-sharing protocol that allows a user
 running a Gnutella client to search for and download files from other
 Gnutella users, as well as share some files of his/her own.
