Source: gtk-gnutella
Build-Depends: debhelper (>= 4.0.0), libglib2.0-dev, libgtk2.0-dev, zlib1g-dev (>= 1:1.1.4), gettext, libgnutls-dev, libdbus-1-dev, binutils-dev
Section: net
Priority: optional
Maintainer: Luca Bruno <luca.br@uno.it>
Standards-Version: 3.7.2

Package: gtk-gnutella
Architecture: any
Depends: ${shlibs:Depends} ${misc:Depends}
Description: shares files in a peer to peer network
 gtk-gnutella is a reliable and efficient Gnutella client, supporting the
 latest Gnutella protocol, bandwidth limitation (both incoming and outgoing)
 traffic compression, and advanced search filters among other features.
 .
 Gnutella is a peer-based file-sharing protocol that allows a user
 running a Gnutella client to search for and download files from other
 Gnutella users, as well as share some files of his/her own.
 .
 gtk-gnutella offers all the extra features you expect from a modern client:
 persistent downloads, searches and filters, intuitive interface, upload
 statistics, queuing, and of course total control over many configuration
 parameters.
 .
 Homepage: https://gtk-gnutella.sourceforge.io/
